#!/bin/bash
#Petit script pour configurer les secrets utilisés pour mon petit NAS SBM qui tourne dans un container Docker
#zf210525.1502

#ATTENTION: c'est les secrets pour le le serveur 192.168.0.165 qui tourne dans une vm linux sur mon macbook pro !

#utils: générateur de password, https://www.pwdgen.org/


# UTILISATION:


## Sur sa machine:
### Il faut faire: source /keybase/private/zuzu59/samba_secrets.sh
### Puis après simplement recopier les 'export' affichés à l'écran


export samba_user=uuu
export samba_pass=ppp
export samba_share=sss

echo -e "

Les secrets sont:
"

for i in $(env |grep samba)
do
    echo " export "$i
done

echo -e "\n"
